<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890175583755-roj8j8jh2adc79bvr461g3ktcqd3obbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890175583755-roj8j8jh2adc79bvr461g3ktcqd3obbl</string>
	<key>API_KEY</key>
	<string>AIzaSyDdesNrlpoRkQYrR23mAqmTGHnXYT0jhcs</string>
	<key>GCM_SENDER_ID</key>
	<string>890175583755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookTracker</string>
	<key>PROJECT_ID</key>
	<string>booktrackertest</string>
	<key>STORAGE_BUCKET</key>
	<string>booktrackertest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890175583755:ios:b459f8a963632fdb47f90e</string>
	<key>DATABASE_URL</key>
	<string>https://booktrackertest-default-rtdb.firebaseio.com</string>
</dict>
</plist>